.container {
  display: flex;
  justify-content: space-between;
}

.logout{
  margin-left: 90%;
}
 
.example-sidenav {
  width: 250px;
  background-color: #ebedf5; /* Primary color */
  color: white;
  padding: 16px;
}

.example-container {
  height: 100vh;
  display: flex;
}
  
.example-sidenav h3 {
  margin-top: 0;
  font-size: 24px;
  font-weight: 400;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 8px;
}

.mat-list-item-link {
  text-decoration: none;
  color: white;
}

.mat-list-item-link:hover {
  background-color: #c3c6d8;
}

.mat-list-item-link span[matLine] {
  display: block;
  line-height: 48px;
}

.mat-drawer-content {
  flex-grow: 1;
  background: #f5f5f5;
  padding: 16px;
}

mat-drawer-content p {
  font-size: 16px;
}



.assignment-card {
  max-width: 600px;
  margin: 20px auto;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

mat-card-header {
  background-color: #f5f5f5;
  padding: 16px;
  border-bottom: 1px solid #e0e0e0;
}

mat-card-title, mat-card-subtitle {
  margin: 0;
  font-weight: 400;
}

mat-card-title {
  font-size: 24px;
  color: #3f51b5;
}

mat-card-subtitle {
  font-size: 14px;
  color: #757575;
}

.assignment-detail {
  margin-bottom: 8px;
  font-size: 16px;
}

.assignment-detail strong {
  color: #3f51b5;
}

.assignment-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-top: 1px solid #e0e0e0;
}

.assignment-actions button {
  margin-left: 8px;
}

.assignment-actions nav a {
  text-decoration: none;
}

.assignment-actions mat-checkbox {
  margin-right: auto;
}
