
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p><br></p>
    <h3></h3>
    <mat-list>
      <a mat-list-item routerLink="/home" class="mat-list-item-link">
        <span matLine>Assignment</span>
      </a>
    </mat-list>
    
    <app-toolbar></app-toolbar>

  </mat-drawer>
  <mat-drawer-content>

    <mat-toolbar>
      <button mat-icon-button class="example-icon" (click)="drawer.toggle()"
        aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span></span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="logout" (click)="logout()">
        <mat-icon aria-hidden="false" aria-label="logout icon" fontIcon="logout" [ariaSetSize]="50"
          color="warn">
        </mat-icon>
      </button>
    </mat-toolbar>
@if(assignmentTransmis) {

  <h2>Détail de l'assignment:</h2>

<mat-card>
  <mat-card-header>
    <mat-card-title>{{ assignmentTransmis.nom }}</mat-card-title>
    <mat-card-subtitle>{{
      assignmentTransmis.dateDeRendu | date
    }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>
      Matiere : {{assignmentTransmis.matiere?.nom}}
    </div>
    <div>  
      Prof : {{assignmentTransmis.matiere?.user?.name}}
    </div>
    <div>  
      Note : {{assignmentTransmis.note}}
    </div>
    <div>  
      Prof : {{assignmentTransmis.remarque}}
    </div>
  </mat-card-content>
  <mat-card-actions class="container">
    @if(!assignmentTransmis.rendu && assignmentTransmis.note != undefined ) {
    <mat-checkbox (click)="onAssignmentRendu()">Rendu</mat-checkbox>
    }
    <button mat-raised-button color="warn" (click)="onDelete()"
            [disabled]="!isAdmin()"
    >
      Supprimer
    </button>
    <nav>
      <a routerLink="edit">
        <button mat-raised-button color="primary"
                [disabled]="!isAdmin()"
        >
          Modifier
        </button>
      </a>
    </nav>
  </mat-card-actions>
</mat-card>

}
