<div class="container">
    @if (formVisuble) {
    <app-add-assignment (nouvelAssignment)="ajouteAssignment($event);"></app-add-assignment>
    }@else {
    <button mat-flat-button class="btnAjout" color="accent" (click)="onAddAssignmentBtnClick()"> Ajouter Assignment</button>

    <p>{{titre}}</p>

    <mat-divider></mat-divider>
    <mat-list>
        @for (assignment of assignments; track assignment.nom) {
        <mat-list-item (click)="assignmentClique(assignment)">
            <div [ngStyle]="{ color: assignment.rendu ? 'green' : 'red' }">
                <h3 matLine>{{ assignment.nom }}</h3>
                <p matLine>rendu: {{ assignment.rendu }}</p>
                <h3 matListItemTitle>{{ assignment.dateDeRendu | date }}</h3>
                <p matListItemLine>{{ assignment.nom }} rendu: {{ assignment.rendu }}</p>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        }
    </mat-list>

    <app-assignment-detail [assignmentTransmis]="assignmentSelectionner" (deleteAssignment)="onDeletAssignment()"></app-assignment-detail>
    } 
</div>