<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p><br></p>
    <h3></h3>
    <mat-list>
      <a mat-list-item routerLink="/home" class="mat-list-item-link">
        <span matLine>Assignment</span>
      </a>
    </mat-list>

    <app-toolbar></app-toolbar>

  </mat-drawer>
  <mat-drawer-content>

    <mat-toolbar>
      <button mat-icon-button class="example-icon" (click)="drawer.toggle()"
        aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span></span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="logout">
        <mat-icon aria-hidden="false" aria-label="logout icon" fontIcon="logout" [ariaSetSize]="50" color="warn">
        </mat-icon>
      </button>
    </mat-toolbar>
<h1>Ajout d'un assignment</h1>

<mat-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form #addAssignmantForm [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Assignmant name</ng-template>

      <mat-form-field>
        <input matInput placeholder="Nom" required [(ngModel)]="nomAssignment" name="nom" formControlName="firstCtrl" required/>
      </mat-form-field>

      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form #addAssignmantForm [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Date de Rendue</ng-template>

      <mat-form-field>
        <mat-label>Date de rendu</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="dateDeRendu" formControlName="secondCtrl" name="date" required/>
        <mat-hint>dd/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Matiere de l'assignment</ng-template>
    <form #addAssignmantForm [formGroup]="therdFormGroup">
      <mat-form-field>
        <mat-label>Matiere</mat-label>
        <mat-select [(value)]="index_matiere_selected" formControlName="therdCtrl" required>
          <mat-option></mat-option>
          @for (option of matieres; track option; let index = $index) {
            <mat-option [value]="index">{{ option.nom }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </form>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="addAssignmantForm.reset()">Reset</button>
      <button mat-button (click)="onSubmit($event); addAssignmantForm.reset()">save</button>
    </div>
  </mat-step>
</mat-stepper>


<!-- <form ngForm #assignmentForm (submit)="onSubmit($event); assignmentForm.reset()" class="form">
  <mat-form-field>
    <input matInput placeholder="Nom" required [(ngModel)]="nomAssignment" name="nom" required/>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Date de rendu</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="dateDeRendu" name="date" required/>
    <mat-hint>dd/MM/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Matiere</mat-label>
    <mat-select [(value)]="index_matiere_selected" required>
      <mat-option></mat-option>
      @for (option of matieres; track option; let index = $index) {
        <mat-option [value]="index">{{ option.nom }}</mat-option>
      }
    </mat-select>
  </mat-form-field>


  <button mat-stroked-button color="primary" [disabled]="nomAssignment == '' || dateDeRendu === undefined">
    Ajouter un devoir
  </button>
</form> -->