.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(98, 99, 139);
  }
  .card {
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Ajoute une ombre */
  border-radius: 8px; /* Arrondit les coins */
  margin: 20px; /* Ajoute de l'espace autour de la carte */
  }
  
  .full-width {
    width: 100%;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  .example-form-field {
    width: 200px;
  }
  .example-full-width {
    width: 100%;
  }